ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  background: cadetblue;
  margin: 0;
  padding: 0;
  border: 2px solid darkgreen;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  width: 190px;
  text-align: center;
  padding: 20px;
}

a:hover {
  background: #497a7b;
  color: ghostwhite;
}

button {
  width: 78px;
  height: 35px;
}