form {
  display: flex;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  background: blanchedalmond;
  margin-top: 45px;
  border-radius: 10px;
}

legend {
  background: cornsilk;
  border: 2px solid gray;
  padding: 4px 12px;
  border-radius: 12px;
  font-family: 'Inria Serif', serif;
}

input {
  padding: 10px;
  margin: 15px;
  background: floralwhite;
  font-family: 'Open Sans', sans-serif;
}