.address-entry {
  position: relative;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  padding: 15px 25px;
  align-items: center;
  line-height: 1.3em;
  margin: 10px;
  border-radius: 28px;
  background: aliceblue;
  font-family: 'Open Sans', sans-serif;
}

.edit-icon {
  position: absolute;
  right: 7px;
  bottom: 4px;
  font-size: 18px;
  color: #00000045;
}

.edit-icon span{
  visibility: hidden;
  position: absolute;
  right: 27px;
  font-size: 12px;
}

.edit-icon:hover {
  color: darkgoldenrod;
  transition: color .3s;
}

.edit-icon:hover span {
  visibility: visible;
  transition: visible .3s;
}