.address-entry {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  padding: 15px 25px;
  align-items: center;
  line-height: 1.3em;
  margin: 10px;
  border-radius: 28px;
  background: aliceblue;
}